import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line
<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#^^^-pyforest-auto-imports---don't-write-above-this-line" data-toc-modified-id="^^^-pyforest-auto-imports---don't-write-above-this-line-1">^^^ pyforest auto-imports - don't write above this line</a></span></li></ul></div>

In [1]:
import pyforest

In [2]:
# let's consider the sample data set
df=pd.DataFrame({'A':['a','b','c','a','b','c','a','b','c'],
                 'target':[1,0,1,0,1,1,0,1,0]
                })
df

   A  target
0  a       1
1  b       0
2  c       1
3  a       0
4  b       1
5  c       1
6  a       0
7  b       1
8  c       0

In [3]:
cmsum=df.groupby(['A'])['target'].cumsum()
cmsum

0    1
1    0
2    1
3    1
4    1
5    2
6    1
7    2
8    2
Name: target, dtype: int64

In [4]:
numerator=cmsum-df['target']+df['target'].mean()
numerator

0    0.555556
1    0.555556
2    0.555556
3    1.555556
4    0.555556
5    1.555556
6    1.555556
7    1.555556
8    2.555556
Name: target, dtype: float64

In [5]:
cmcount=df.groupby(['A']).cumcount()
cmcount

0    0
1    0
2    0
3    1
4    1
5    1
6    2
7    2
8    2
dtype: int64

In [6]:
df['encoded_value']=numerator/(cmcount+1)
df

   A  target  encoded_value
0  a       1       0.555556
1  b       0       0.555556
2  c       1       0.555556
3  a       0       0.777778
4  b       1       0.277778
5  c       1       0.777778
6  a       0       0.518519
7  b       1       0.518519
8  c       0       0.851852